* {
  box-sizing: border-box;
}
dl {
  margin: 0;
}
dt {
  font-weight: 700px;
}
body {
    font-family: 'Roboto', sans-serif;  
    background: linear-gradient(#eaf3d9, #656b73);
}
.warpper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.user-card {
  width: 500px;
}
.user-header {
  position: relative;
  padding: 15px 10px 10px;
  color: #ffffff;
  background-color: #574e6f;
  border-radius: 10px 10px 0 0;
}
.user-photo { 
  position: absolute;
  top: 85px;
  transform: translateY(-50px);
  width: 170px;
  height: auto;
  border: 7px solid #ffffff;
  border-radius: 50%;
}
.user-header__text {
  margin-left: 185px;
}
.user-content {
  padding: 15px 10px 10px;
  background-color: #f2f2f2;
  border-radius: 0 0 10px 10px;
}
.user-content__text {
  margin-left: 185px;
}